commands.sh
templates/template1/parameters copy.json
addcustomrole.json
.env.export.sh
az-mpf
az-mpf-darwin-amd64
az-mpf-darwin-arm64
az-mpf-linux-amd64
az-mpf-windows-amd64.exe
.vscode/launch-local.json
